.main_seats {
  display: grid;
  grid-template-columns: 0.5fr 1.03fr 1.03fr 1.03fr;
  width: 100%;
  padding: 0rem 4rem 0rem 4rem;
  height: 100%;
  gap: 2rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  height: 100%;
}

@media screen and (max-width: 450px) {
  .main_seats {
    padding: 0rem 2rem 0rem 2rem;
    gap: 1rem;
  }
}
